//====================================================================================================

.main-section {
  // .main-section__container
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding-top: toRem(80);
    padding-bottom: toRem(30);
    column-gap: toRem(20);
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      row-gap: toRem(25);
    }
  }
  // .main-section__content
  &__content {
  }
  // .main-section__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }
  // .main-section__text
  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .main-section__decor
  &__decor {
  }

  // .main-section__image
  &__image {
  }
}

.decor-main-section {
  max-width: 336px;
  margin: toRem(0) toRem(22);
  justify-self: center;
  @media (min-width: $mobile) {
    width: 100%;
    justify-self: end;
  }
  @media (max-width: $mobile) {
    max-width: none;
    @include adaptiveValue("width", 336, 246);
  }

  // .decor-main-section__box
  &__box {
    position: relative;
    padding-bottom: percent(400, 336);
    border-radius: toRem(16);
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: toRem(16);
    }
    &::before {
      z-index: 1;
      background-color: rgb(126, 116, 241);
      transform: rotate(-9.55deg);
    }
    &::after {
      z-index: 2;
      background: rgb(234, 230, 254) url("@img/main/lines.svg") top right / 58% no-repeat;
    }
  }

  // .decor-main-section__image
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    border-radius: toRem(16);
  }
  // .decor-main-section__picture
  &__picture {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}
//====================================================================================================

.services {
  background-color: rgb(251, 251, 251);

  // .services__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .services__title
  &__title {
    @include adaptiveValue("margin-bottom", 100, 30);
  }
  // .services__items
  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
    @include adaptiveValue("gap", 56, 20);
  }
  // .services__item
  &__item {
  }
}
.item-service {
  border-radius: toRem(8);
  background-color: rgb(255, 255, 255);
  display: grid;
  text-align: center;
  justify-items: center;
  @include adaptiveValue("padding", 50, 15);
  // .item-service__icon
  &__icon {
    width: toRem(56);
    height: toRem(56);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(245, 243, 254);
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
  // .item-service__title
  &__title {
    font-weight: 500;
    line-height: math.div(20, 16);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .item-service__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(24, 14);
  }
}
/*======================================================*/

.portfolio {
  // .portfolio__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .portfolio__header
  &__header {
    display: flex;
    gap: toRem(20);
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 144, 30);
    @media (max-width: toEm(600)) {
      align-items: stretch;
      flex-direction: column;
    }
  }
  // .portfolio__title
  &__title {
  }
  // .portfolio__controlls
  &__controlls {
    display: flex;
    align-items: center;
    gap: toRem(16);
    @media (max-width: toEm(600)) {
      justify-content: center;
    }
  }
  // .portfolio__arrow
  &__arrow {
    width: toRem(40);
    height: toRem(40);
    border-radius: toRem(16);
    background-color: rgb(234, 230, 254);
    color: rgb(126, 116, 241);
    font-size: toRem(12);
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(195, 185, 241);
      }
    }
    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
      background-color: rgb(234, 230, 254);
      color: rgb(126, 116, 241);
    }
  }
  // .portfolio__arrow_left
  &__arrow_left {
    transform: rotate(-180deg);
  }
  // .portfolio__arrow_right
  &__arrow_right {
  }
  // .portfolio__slider
  &__slider {
    @media (max-width: toEm(650)) {
      margin-right: toRem(-15);
      padding-right: toRem(15);
    }
  }
  // .portfolio__wrapper
  &__wrapper {
  }
  // .portfolio__slide
  &__slide {
  }
}

.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: toRem(8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  // .item-portfolio__image
  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: percent(295, 361);
    transition: opacity 0.8s ease 0s;
    opacity: 0.5;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      object-fit: cover;
      object-position: top;
      transition: transform 0.8s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
        img {
          transform: scale(1.05);
        }
      }
    }
    @media (any-hover: none) {
      opacity: 1;
    }
  }
  // .item-portfolio__body
  &__body {
    padding: toRem(24);
    display: flex;
    flex-direction: column;
    gap: toRem(16);
    flex: 1 1 100%;
  }
  // .item-portfolio__title
  &__title {
    flex: 1 1 100%;
    min-height: 100%;
  }

  // .item-portfolio__link-title
  &__link-title {
    color: rgb(35, 46, 53);
    font-weight: 500;
    line-height: math.div(20, 16);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
  // .item-portfolio__footer
  &__footer {
    display: flex;
    align-items: center;
    gap: toRem(16);
  }
  // .item-portfolio__category
  &__category {
  }
  // .item-portfolio__link
  &__link {
    transition: color 0.3s ease 0s;
    font-size: toRem(9.5);
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
}

/*======================================================*/

.career {
  background: rgb(251, 251, 251);
  // .career__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }

  // .career__body
  &__body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    @include adaptiveValue("column-gap", 144, 20);
    @include adaptiveValue("row-gap", 80, 20);
    @media (min-width: $mobile) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      align-content: center;
      align-items: start;
      grid-auto-flow: column;
    }
  }

  // .career__navigation
  &__navigation {
    ._tab-spoller & {
      display: none;
    }
  }
  // .career__content
  &__content {
    @media (min-width: $mobile) {
      @include adaptiveValue("padding-top", 32, 15);
      grid-row: span 2;
    }
  }
}
.navigation-career {
  // display: grid;
  // gap: toRem(9);
  //.navigation-career__title
  &__title {
    width: 100%;
    padding: toRem(14) toRem(24);
    line-height: math.div(19, 16);
    text-align: left;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toRem(9);
    }
    &::after {
      font-size: toRem(10);
      @extend %ic;
      content: "\e903";
      display: none;
    }
    ._tab-spoller & {
      border: 1px solid rgb(101, 109, 114, 0.2);
      &::after {
        display: block;
        transform: rotate(90deg);
      }
    }
    &._tab-active {
      background-color: rgb(255, 255, 255);
      color: $purpleColor;
      &::after {
        display: block;
        ._tab-spoller & {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
.content-career {
  // .content-career__body
  &__body {
    ._tab-spoller & {
      padding: toRem(15) toRem(0);
    }
  }
  // .content-career__header
  &__header {
    border-bottom: 1px solid rgb(241, 241, 241);
    @include adaptiveValue("padding-bottom", 32, 20);
  }
  // .content-career__title
  &__title {
    font-weight: 500;
    font-size: toRem(18);
    line-height: math.div(23, 18);
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }
  // .content-career__link-title
  &__link-title {
    text-decoration: underline;
    text-underline-offset: 4px;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
  // .content-career__location
  &__location {
    color: $greyColor;
    font-size: toRem(14);
    line-height: math.div(17, 14);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .content-career__time
  &__time {
    color: $greyColor;
    font-size: toRem(14);
    line-height: math.div(24, 14);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .content-career__category
  &__category {
  }
  // .content-career__main
  &__main {
    @include adaptiveValue("padding-top", 32, 20);
  }
  // .content-career__list
  &__list {
  }
}

.list-content-career {
  // .list-content-career__item
  &__item {
    color: $greyColor;
    line-height: math.div(19, 16);
    position: relative;
    padding-left: toRem(28);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    &::before {
      content: "";
      position: absolute;
      background: rgb(217, 217, 217);
      width: toRem(10);
      height: toRem(2);
      top: toEm(10, 16);
      left: 0px;
    }
  }
}
/*======================================================*/

.blog {
  // .blog__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .blog__title
  &__title {
    @include adaptiveValue("margin-bottom", 144, 30);
  }
  // .blog__items
  &__items {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    @include adaptiveValue("gap", 40, 20);
  }
  // .blog__item
  &__item {
  }
}

.item-blog {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: toRem(8);
  overflow: hidden;
  border: 1px solid rgb(241, 241, 241);

  // .item-blog__image
  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: percent(243, 361);
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // .item-blog__body
  &__body {
    padding: toRem(16) toRem(16) toRem(24) toRem(16);
    display: grid;
    gap: toRem(16);
  }
  // .item-blog__title
  &__title {
  }
  // .item-blog__link-title
  &__link-title {
    transition: color 0.3s ease 0s;
    font-weight: 500;
    line-height: math.div(24, 16);
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
  // .item-blog__date
  &__date {
    justify-self: start;
  }
  // .item-blog__text
  &__text {
  }
  // .item-blog__link
  &__link {
    margin-top: toRem(24);
    justify-self: center;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
}
/*======================================================*/

.testimonials {
  background: rgb(251, 251, 251);
  // .testimonials__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .testimonials__title
  &__title {
    @include adaptiveValue("margin-bottom", 132, 80);
  }
  // .testimonials__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    row-gap: toRem(80);
    @include adaptiveValue("column-gap", 40, 20);
  }
  // .testimonials__item
  &__item {
  }
}

.item-testimonials {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-bottom: toRem(24);
  @include adaptiveValue("padding-left", 38, 10);
  @include adaptiveValue("padding-right", 38, 10);

  // .item-testimonials__avatar
  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: toRem(96);
    height: toRem(96);
    align-self: center;
    margin-top: toRem(-48);
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }
  // .item-testimonials__text
  &__text {
    flex: 1 1 auto;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }
  // .item-testimonials__name
  &__name {
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(18, 14);
    &:not(:last-child) {
      margin-bottom: toRem(9);
    }
  }
  // .item-testimonials__profession
  &__profession {
    align-self: flex-start;
  }
}

/*======================================================*/
.skills {
  background-color: rgb(255, 255, 255);
  // .skills__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .skills__title
  &__title {
    @include adaptiveValue("margin-bottom", 112, 30);
  }
  // .skills__body
  &__body {
    display: grid;
    gap: toRem(40);
    @media (min-width: toEm(850)) {
      grid-template-columns: 1fr percent(658, 1200);
    }
  }
  // .skills__timeline
  &__timeline {
  }
  // .skills__content
  &__content {
  }
}
.timeline {
  display: grid;
  gap: toRem(64);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: toRem(12);
    top: toEm(2.5, 16);
    height: 100%;
    width: 1px;
    background-color: rgb(241, 241, 241);
  }
  // .timeline__item
  &__item {
    padding-left: toRem(40);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: toRem(16);
      background-color: rgb(241, 241, 241);
      left: toRem(4);
      top: toEm(2.5, 16);
      height: toRem(16);
      z-index: 3;
      border-radius: 50%;
    }
    &:last-child {
      &::after {
        content: "";
        z-index: 2;
        position: absolute;
        width: 1px;
        height: 100%;
        left: toRem(12);
        bottom: 0;
        background-color: rgb(255, 255, 255);
      }
    }
  }
  // .timeline__title
  &__title {
    font-weight: 500;
    line-height: math.div(20, 16);
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .timeline__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(17, 14);
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
  // .timeline__date
  &__date {
    font-weight: 500;
    line-height: math.div(17, 16);
  }
}

.content-skills {
  // .content-skills__text
  &__text {
    @include adaptiveValue("margin-bottom", 64, 20);
  }
  // .content-skills__items
  &__items {
    display: grid;
    @include adaptiveValue("gap", 40, 20);
  }
  // .content-skills__item
  &__item {
  }
  // .content-skills__label
  &__label {
    font-weight: 500;
    line-height: math.div(17, 16);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .content-skills__line
  &__line {
    border-radius: toRem(2);
    height: toRem(8);
    background: rgb(245, 243, 254);
    position: relative;
    span {
      position: absolute;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: toRem(2);
      background-color: $purpleColor;
    }
  }
}
/*======================================================*/

.contacts {
  background: rgb(251, 251, 251);
  // .contacts__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }

  // .contacts__content
  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  // .contacts__form
  &__form {
  }
  // .contacts__body
  &__body {
    @include adaptiveValue("padding-left", 105, 20);
  }
  // .contacts__list
  &__list {
  }
}
.form {
  display: grid;
  gap: toRem(16);
  // .form__item
  &__item {
    &:not(:last-child) {
      padding-top: toRem(22);
    }
  }
  // .form__input
  &__input {
    height: toRem(48);
    border-radius: toRem(8);
    padding: toRem(0) toRem(24);
    background-color: rgb(255, 255, 255);
    &::placeholder {
      color: $greyColor;
    }
    &:focus {
      color: $mainColor;
    }
  }
  // .form__button
  &__button {
    background-color: $purpleColor;
    padding: toRem(16);
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: toRem(8);
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(90, 79, 206);
      }
    }
  }
  &__error {
    padding: toRem(5) toRem(24) toRem(0) toRem(24);
    color: red;
    font-size: toRem(12);
  }
}
textarea.form__input {
  height: toRem(190);
  resize: vertical;
  padding: toRem(24);
}
.list-contacts {
  display: grid;
  @include adaptiveValue("gap", 48, 20);
  // .list-contacts__item
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(24);
  }
  // .list-contacts__icon
  &__icon {
    flex: 0 0 toRem(56);
    height: toRem(56);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(245, 243, 254);
    border-radius: toRem(16);
  }
  // .list-contacts__body
  &__body {
  }
  // .list-contacts__title
  &__title {
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: toRem(4);
    }
  }
  // .list-contacts__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(24, 14);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: $purpleColor;
      }
    }
  }
}
