//====================================================================================================

.main-section {
  // .main-section__container
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding-top: toRem(80);
    padding-bottom: toRem(30);
    column-gap: toRem(20);
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      row-gap: toRem(25);
    }
  }
  // .main-section__content
  &__content {
  }
  // .main-section__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }
  // .main-section__text
  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // .main-section__decor
  &__decor {
  }

  // .main-section__image
  &__image {
  }
}

.decor-main-section {
  max-width: 336px;
  margin: toRem(0) toRem(22);
  justify-self: center;
  @media (min-width: $mobile) {
    width: 100%;
    justify-self: end;
  }
  @media (max-width: $mobile) {
    max-width: none;
    @include adaptiveValue("width", 336, 246);
  }

  // .decor-main-section__box
  &__box {
    position: relative;
    padding-bottom: percent(400, 336);
    border-radius: toRem(16);
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: toRem(16);
    }
    &::before {
      z-index: 1;
      background-color: rgb(126, 116, 241);
      transform: rotate(-9.55deg);
    }
    &::after {
      z-index: 2;
      background: rgb(234, 230, 254) url("@img/main/lines.svg") top right / 58% no-repeat;
    }
  }

  // .decor-main-section__image
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    border-radius: toRem(16);
  }
  // .decor-main-section__picture
  &__picture {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
}
//====================================================================================================

.services {
  background-color: rgb(251, 251, 251);

  // .services__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .services__title
  &__title {
    @include adaptiveValue("margin-bottom", 100, 30);
  }
  // .services__items
  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
    @include adaptiveValue("gap", 56, 20);
  }
  // .services__item
  &__item {
  }
}
.item-service {
  border-radius: toRem(8);
  background-color: rgb(255, 255, 255);
  display: grid;
  text-align: center;
  justify-items: center;
  @include adaptiveValue("padding", 50, 15);
  // .item-service__icon
  &__icon {
    width: toRem(56);
    height: toRem(56);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(245, 243, 254);
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
  // .item-service__title
  &__title {
    font-weight: 500;
    line-height: math.div(20, 16);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .item-service__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(24, 14);
  }
}
/*======================================================*/

.portfolio {
  // .portfolio__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: toRem(30);
    padding-top: toRem(80);
  }
  // .portfolio__header
  &__header {
    display: flex;
    gap: toRem(20);
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 144, 30);
  }
  // .portfolio__title
  &__title {
  }
  // .portfolio__controlls
  &__controlls {
    display: flex;
    align-items: center;
    gap: toRem(16);
  }
  // .portfolio__arrow
  &__arrow {
    width: toRem(40);
    height: toRem(40);
    border-radius: toRem(16);
    background-color: rgb(234, 230, 254);
    color: rgb(126, 116, 241);
    font-size: toRem(12);
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(195, 185, 241);
      }
    }
  }
  // .portfolio__arrow_left
  &__arrow_left {
    transform: rotate(-180deg);
  }
  // .portfolio__arrow_right
  &__arrow_right {
  }
  // .portfolio__slider
  &__slider {
  }
  // .portfolio__wrapper
  &__wrapper {
  }
  // .portfolio__slide
  &__slide {
  }
}
.portfolio {
}
.item-portfolio {
  // .item-portfolio__image
  &__image {
  }
  // .item-portfolio__body
  &__body {
  }
  // .item-portfolio__link-title
  &__link-title {
  }
  // .item-portfolio__footer
  &__footer {
  }
  // .item-portfolio__category
  &__category {
  }
  // .item-portfolio__link
  &__link {
  }
}
